.header {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  padding: 20px 30px 30px 30px;
  position: fixed;
  background: $white;
  z-index: 10000;

  .btn {
    display: block;
    text-decoration: none;
    text-align: center;
    color: $blue;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    border-radius: 20px;
    border: solid 1px $blue;
    padding: 10px;
    transition: .4s;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}