.CreditCardCheckout {
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  background-image: url("../assets/images/002_back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  &::before {
    content: "";
    background: inherit;
    filter: blur(5px);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
  }

  &_container {
    position: relative;
    margin: 60px auto;
  }

  &_box {
    width: 500px;
    height: 700px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
    border-radius: 10px;
    position: absolute;
    left: 50%;

    &:first-child {
      height: 400px;
      margin-top: 13%;
      background: rgba(255, 255, 255, 1);
      text-align: center;
      left: 9%;
      z-index: 100;

      img {
        width: 320px;
        position: absolute;
        top: -80px;
        left: 19%;
      }

      p {
        font-weight: bold;
        font-size: 25px;
      }

      .pan_name {
        margin-top: 200px;
      }

      .countPrice {
        display: flex;
        justify-content: center;

        ul {
          margin: 0 20px;
          display: flex;
          align-items: center;
        }

        li {
          a {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: $white;
            box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
            text-decoration: none;
          }

          input {
            border: none;
            border-bottom: dotted 2px $black;
            text-align: center;
          }
        }
      }
    }
  }
}