body {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  line-height: 1.7;
}

h1 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

a {
  color: $black;
}

p {
  font-size: 14px;
  color: $black;
}

.main {
  padding-top: 160px;
}